* {
  margin: 0;
}

body {
  background-color: #bbe1fa;
}

header {
  background-image: url(./img/header-background.jpeg);
  background-size: auto;
  display: flex;
  height: 10rem;
  width: 100%;
  align-items: stretch;
  position: relative;
}

nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

nav a {
  height: 100%;
  width: 100%;
}

nav a:hover {
  background-color: #bbe1fa;
}

#logo {
  height: 40px;
  max-width: 200px;
  /* flex-grow: 2; */
}

section {
  background-image: url(./img/sample-pattern.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gray;
}

section h1 {
  font-size: 5rem;
  margin-top: 2.5rem;
}

#article-list {
  margin: 3rem 14.8rem 3rem 14.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  color: black;
  background-color: white;
  border: 0.01px solid lightgrey;
  padding: 2rem;
  font-size: larger;
}

article h3 {
  margin-bottom: 1em;
}

#question article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#question article h2 {
  margin-bottom: 1em;
}

#start {
  margin-top: 3rem;
  height: 4rem;
  width: 50%;
  font-size: larger;
}

#question {
  display: none;
  /* visibility: hidden; */
}

#answerlist {
  display: flex;
  width: 100%;
}

#answerlist div {
  margin: 2rem 5% 0 5%;
  width: 30%;
}

#submit {
  width: 40%;
  height: 4rem;
  font-size: larger;
  margin-top: 2rem;
}

#result article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#result article h2 {
  margin-bottom: 1em;
}

#result {
  display: none;
  /* visibility: hidden; */
}

footer {
  height: 10rem;
  color: whitesmoke;
  background-color: #0f4c75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#copyright {
  color: grey;
}

footer a {
  color: whitesmoke;
}
